<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <title>Học Cờ Vua Cùng Thầy Toàn</title>
    <link rel="stylesheet" href="/css/base.client.css">
    <link rel="stylesheet" href="/css/core.client.css">
    <link rel="stylesheet" href="/bundles/app/css/index.client.ff8ff8eb.css">
    <link rel="stylesheet" href="/bundles/app/css/layout.client.6858559a.css">
    <link rel="stylesheet" href="/bundles/app/css/navigation-footer.client.5547c49b.css">
    <link rel="stylesheet" href="/bundles/app/css/navigation.client.69b863d4.css">
    <link rel="stylesheet" href="/bundles/app/css/sprites.client.2f051ee5.css">
</head>

<body>

    <body class="newicons dark-mode scrollbar-obtrusive">
        <div class="base-layout">
            <div class="base-sidebar">
                <div id="sb" style="" class="nav-component guest wide" data-constant-message-unread-count-max="100"
                    data-notifications-limit="200" data-route-login-and-go="/login_and_go"
                    data-route-register="/register">
                    <div id="sb-cover" data-mobile-nav-toggle=""></div>
                    <div class="nav-action toggle close" data-mobile-nav-toggle="">
                        <span class="icon-font-chess x"></span>
                    </div>
                    <div data-nav-top="">
                        <a class="nav-link-component nav-link-main-design chess-logo-wrapper sprite learn-top no-panel nav-link-top-level"
                            data-nav-link="home" data-amplitude-nav-selection="home" href="/" target="_self">
                            <span class="nav-link-text">Trang chủ</span>
                            <!---->
                        </a>
                        <a class="nav-link-component nav-link-main-design nav-link-top-level sprite play-top"
                            data-amplitude-nav-selection="play" data-nav-link="play" href="/play" target="_self">
                            <span class="nav-link-text">Thi đấu</span>
                            <!---->
                        </a>
                        <div class="nav-panel-component" data-nav-panel="play"
                            data-routes="{&quot;leaderboard&quot;:&quot;https:\/\/www.chess.com\/vi\/leaderboard&quot;,&quot;live&quot;:&quot;https:\/\/www.chess.com\/vi\/live&quot;,&quot;daily&quot;:&quot;https:\/\/www.chess.com\/vi\/play\/online\/daily&quot;,&quot;computer&quot;:&quot;https:\/\/www.chess.com\/vi\/play\/computer&quot;,&quot;playOnline&quot;:&quot;https:\/\/www.chess.com\/vi\/play\/online&quot;,&quot;playPage&quot;:&quot;https:\/\/www.chess.com\/vi\/play&quot;,&quot;playFriend&quot;:&quot;https:\/\/www.chess.com\/vi\/play\/online\/friend&quot;,&quot;puzzleBattle&quot;:&quot;https:\/\/www.chess.com\/vi\/puzzles\/battle&quot;,&quot;puzzles&quot;:&quot;https:\/\/www.chess.com\/vi\/puzzles\/rush&quot;,&quot;tournamentsPlay&quot;:&quot;https:\/\/www.chess.com\/vi\/play\/online\/tournaments&quot;,&quot;tournaments&quot;:&quot;https:\/\/www.chess.com\/vi\/tournaments&quot;,&quot;library&quot;:&quot;https:\/\/www.chess.com\/vi\/library&quot;,&quot;gameArchive&quot;:&quot;https:\/\/www.chess.com\/vi\/games\/archive&quot;,&quot;variants&quot;:&quot;https:\/\/www.chess.com\/vi\/variants&quot;}">
                        </div>
                        <a class="nav-link-component nav-link-main-design nav-link-top-level sprite puzzles-top"
                            data-amplitude-nav-selection="puzzles" data-nav-link="puzzles" href="/puzzles"
                            target="_self">
                            <span class="nav-link-text">Học tập</span>
                        </a>
                        <div class="nav-panel-component" data-nav-panel="puzzles"
                            data-routes="{&quot;dailyPuzzle&quot;:&quot;https:\/\/www.chess.com\/vi\/daily-chess-puzzle&quot;,&quot;drills&quot;:&quot;https:\/\/www.chess.com\/vi\/drills&quot;,&quot;endgames&quot;:&quot;https:\/\/www.chess.com\/vi\/endgames&quot;,&quot;practice&quot;:&quot;https:\/\/www.chess.com\/vi\/practice&quot;,&quot;puzzleBattle&quot;:&quot;https:\/\/www.chess.com\/vi\/puzzles\/battle&quot;,&quot;puzzlesCustom&quot;:&quot;https:\/\/www.chess.com\/vi\/puzzles\/learning&quot;,&quot;puzzlesRush&quot;:&quot;https:\/\/www.chess.com\/vi\/puzzles\/rush&quot;,&quot;puzzlesRated&quot;:&quot;https:\/\/www.chess.com\/vi\/puzzles\/rated&quot;,&quot;tactics&quot;:&quot;https:\/\/www.chess.com\/vi\/puzzles&quot;,&quot;soloChess&quot;:&quot;https:\/\/www.chess.com\/vi\/solo-chess&quot;}">
                        </div>
                        <% if(!loggedIn) { %>    
                        <a id="menu-cta" data-amplitude-props="{&quot;source&quot;:&quot;Unknown&quot;}"
                            href="/register" target="_self"
                            rel="nofollow"
                            class="button auth signup register ui_v5-button-component ui_v5-button-basic-dark ">
                            <span class="icon-font-chess icon user-plus"></span>

                            <span class="label">Đăng ký</span>
                        </a>

                        <a href="/login"
                            target="_self" rel="nofollow"
                            class="button auth login ui_v5-button-component ui_v5-button-primary ">
                            <span class="icon-font-chess icon enter"></span>
                            <span class="label">Đăng nhập</span>
                        </a>
                        <% } %>
                        <% if(loggedIn) { %>   
                        <a class="nav-link-component nav-link-main-design nav-link-top-level sprite puzzles-top"
                            data-amplitude-nav-selection="puzzles" data-nav-link="puzzles" href="/puzzles"
                            target="_self">
                            <span class="nav-link-text">Xin chào <%= userName %> </span>
                        </a>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="base-container">
                <div id="scroll-top-anchor"></div>
                <div id="language-banner"></div>
                <header id="tb" class="toolbar-new-wrapper ">
                    <div class="toolbar-menu-area toolbar-menu-area-left">
                        <div class="toolbar-action toggle open" data-mobile-nav-toggle="">
                            <span class="icon-font-chess menu toolbar-action-icon"></span>
                        </div>
                        <a href="/" class="link chess-logo-wrapper sprite chess-logo"
                            aria-label="Chess.com - Chơi cờ vua trực tuyến">
                        </a>
                    </div>
                    <div class="toolbar-menu-area toolbar-mobile-auth-actions  ">
                        <a class="toolbar-mobile-auth-action ui_v5-button-component ui_v5-button-basic-dark ui_v5-button-x-small sign-up"
                            href="/register" rel="nofollow"
                            title="Đăng ký">
                            Đăng ký
                        </a>
                        <a class="toolbar-mobile-auth-action ui_v5-button-component ui_v5-button-primary ui_v5-button-x-small login"
                            href="/login"
                            rel="nofollow" title="Đăng nhập">
                            Đăng nhập
                        </a>
                    </div>
                </header>
                <main class="layout-component layout-single">
                    <div class="layout-column-wide">
                        <div class="index-component">
                            <section class="index-guest-block">
                                <div class="index-board">
                                    <form action="/"
                                        class="index-guest-button-form" method="post">
                                        <input type="hidden" name="_token"
                                            value="2UE5y4nZPTGjLkgDmFBD5i4DDI0aHO5MsCh0ydCC2DU">

                                        <button aria-label="Chơi trực tuyến" type="submit"
                                            class="index-guest-board-link">
                                            <img alt="Bàn cờ" class="index-board-img" width="496" height="496"
                                                src="/bundles/web/images/offline-play/standardboard.1d6f9426.png">
                                        </button>
                                    </form>
                                </div>

                                <div class="index-intro">
                                    <h1 class="index-title">
                                        Thi đấu, học cờ vua và trò chuyện cùng nhau!
                                    </h1>
                                    <!-- <div class="index-info">
                                        <p class="index-info-item">
                                            <span class="index-info-item-counter">
                                                123456
                                            </span>
                                            Các ván đấu hôm nay
                                        </p>
                                        <p class="index-info-item">
                                            <span class="index-info-item-counter">
                                                137.122
                                            </span>
                                            Chơi ngay
                                        </p>
                                    </div> -->
                                    <div class="index-guest-button-wrap">
                                        <form action="/play"
                                            class="index-guest-button-form" method="post">
                                            <input type="hidden" name="_token"
                                                value="2UE5y4nZPTGjLkgDmFBD5i4DDI0aHO5MsCh0ydCC2DU">

                                            <button type="submit"
                                                class="index-guest-button ui_v5-button-component ui_v5-button-large ui_v5-button-primary  ui_v5-button-full">
                                                <div class="index-guest-button-icon index-playhand-icon"></div>

                                                <div>
                                                    <div class="index-guest-button-title">Chơi trực tuyến</div>

                                                    <div class="index-guest-button-subtitle">Đấu với ai đó cùng cấp độ
                                                        với bạn</div>
                                                </div>
                                            </button>
                                        </form>

                                        <a href="/puzzles"
                                            class="index-guest-button ui_v5-button-component ui_v5-button-large ui_v5-button-basic ui_v5-button-full">
                                            <div class="index-guest-button-icon index-computer-icon"></div>

                                            <div>
                                                <div class="index-guest-button-title">Học cờ vua</div>

                                                <div class="index-guest-button-subtitle">Học cùng các bạn, máy tính
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</body>

</html>